.text-centered {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font: bold 50px/34px 'Dancing Script', cursive;
  text-shadow: 2px 2px 2px black;
}

.icon-wrapper {
  padding: 7px;
  cursor: pointer;
  border-radius: 20px;
}

.main {
  display: flex;
  margin: 20px;
  width: 100%;
}

input {
  border: none;
  outline: none;
  margin-left: 20px;
  border-radius: 20px;
  width: 250px;
  height: 40px;
  background-color: grey;
}

.container {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100vh;
}

.images-wrapper {
  width: 100vw;
  height: 100vh;
}

.date {
  font-size: 30px;
  font-weight: 500;
  color: white;
  position: absolute;
  right: 16px;
}

img {
  width: 20vw;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .date {
      display:none;
  }

  .container{
    display: block;
    width: 100vw;
    height: 20vh;
  }

  .images-wrapper {
    display: list-item;
    max-height: 100vh;
  }

  img {
    width: 100vw;
    height: 20vh;
    object-fit: cover;
  }
}